In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('MPsProfileInformation10thParliament.csv')

In [3]:
pd.set_option('display.max_rows', 60)

In [4]:
df2 = df.copy()
df2

,No.,Name of M.P,District,Constituency,Political Party,Profession,Marital status,Phone number,Date of Birth,P.L.E School,...,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86
0,1,Aadroa Alex Onzima,None,Ex-Officio,None,Administrator,Married,+256772411334/+256794336266,06-24-1952,"Oluvu Primary School, Arua",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Ababiku Jesca,Adjumani,District Woman Representative,NRM,Teacher,Single,772315541,07/17/1975,Adjumani Girls Primary School,...,"Youth Leader U.P.C Party, Lira North constitue...","Secretary Student Council, Lango College, 1972...","Headteacher, Onono Memorial S.S, 1975-1981",NaN,"Music, dance, Drama, Singing, Hunting",Conflicts management,NaN,"Red Cross, Trade Technology, Cultural Group",Committee on Science and Technology,Member
2,3,ABACANON CHARLES ANGIRO GUTOMOI,Lira,ERUTE COUNTY NORTH,FDC,Farmer,Married,392944775,05-17-1949,East African Exams Council,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,ABALA DAVID,Ngora,Ngora County,NRM,Administrator,Married,"0772408242, 0702888820",10/3/75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,ABBAS AGABA MUGISHA,Kamwenge,Kitagwenda County,NRM,Lawyer/Advocate,Married,772628660,10/13/1979,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,435,Wekomba Nambozo Sarah,Bulambuli,District Woman Representative,INDEPENDENT,Administrator,Single,772441445,07/15/1978,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,436,Werikhe Kafabusa Michael,Mbale,Bungokho County South,NRM,NIL,Married,782797688,08/25/1955,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,437,Woboya Vicent,Sironko,Budadiri County East,NRM,Administrator,Married,772347518,7/1/70,Bumasaga Primary School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,438,Yaguma Wilberforce,Mbarara,Kashari North County,NRM,Politician,Married,772931800,07/17/1972,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,439,Zaake Francis,Mityana,Mityana Municipality,INDEPENDENT,Business Man,Single,772735879,12/1/91,"Fairway Primary School, Mityana",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df2.set_index('No.')

,Name of M.P,District,Constituency,Political Party,Profession,Marital status,Phone number,Date of Birth,P.L.E School,P.L.E Year,...,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86
No.,,,,,,,,,,,,,,,,,,,,,
1,Aadroa Alex Onzima,None,Ex-Officio,None,Administrator,Married,+256772411334/+256794336266,06-24-1952,"Oluvu Primary School, Arua",1969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ababiku Jesca,Adjumani,District Woman Representative,NRM,Teacher,Single,772315541,07/17/1975,Adjumani Girls Primary School,1990,...,"Youth Leader U.P.C Party, Lira North constitue...","Secretary Student Council, Lango College, 1972...","Headteacher, Onono Memorial S.S, 1975-1981",NaN,"Music, dance, Drama, Singing, Hunting",Conflicts management,NaN,"Red Cross, Trade Technology, Cultural Group",Committee on Science and Technology,Member
3,ABACANON CHARLES ANGIRO GUTOMOI,Lira,ERUTE COUNTY NORTH,FDC,Farmer,Married,392944775,05-17-1949,East African Exams Council,1966,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABALA DAVID,Ngora,Ngora County,NRM,Administrator,Married,"0772408242, 0702888820",10/3/75,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ABBAS AGABA MUGISHA,Kamwenge,Kitagwenda County,NRM,Lawyer/Advocate,Married,772628660,10/13/1979,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,Wekomba Nambozo Sarah,Bulambuli,District Woman Representative,INDEPENDENT,Administrator,Single,772441445,07/15/1978,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,Werikhe Kafabusa Michael,Mbale,Bungokho County South,NRM,NIL,Married,782797688,08/25/1955,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,Woboya Vicent,Sironko,Budadiri County East,NRM,Administrator,Married,772347518,7/1/70,Bumasaga Primary School,1986,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,Yaguma Wilberforce,Mbarara,Kashari North County,NRM,Politician,Married,772931800,07/17/1972,NaN,1976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,Zaake Francis,Mityana,Mityana Municipality,INDEPENDENT,Business Man,Single,772735879,12/1/91,"Fairway Primary School, Mityana",2006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2.head()

,No.,Name of M.P,District,Constituency,Political Party,Profession,Marital status,Phone number,Date of Birth,P.L.E School,...,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86
0,1,Aadroa Alex Onzima,None,Ex-Officio,None,Administrator,Married,+256772411334/+256794336266,06-24-1952,"Oluvu Primary School, Arua",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Ababiku Jesca,Adjumani,District Woman Representative,NRM,Teacher,Single,772315541,07/17/1975,Adjumani Girls Primary School,...,"Youth Leader U.P.C Party, Lira North constitue...","Secretary Student Council, Lango College, 1972...","Headteacher, Onono Memorial S.S, 1975-1981",NaN,"Music, dance, Drama, Singing, Hunting",Conflicts management,NaN,"Red Cross, Trade Technology, Cultural Group",Committee on Science and Technology,Member
2,3,ABACANON CHARLES ANGIRO GUTOMOI,Lira,ERUTE COUNTY NORTH,FDC,Farmer,Married,392944775,05-17-1949,East African Exams Council,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,ABALA DAVID,Ngora,Ngora County,NRM,Administrator,Married,"0772408242, 0702888820",10/3/75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,ABBAS AGABA MUGISHA,Kamwenge,Kitagwenda County,NRM,Lawyer/Advocate,Married,772628660,10/13/1979,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df2.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
434    False
435    False
436    False
437    False
438    False
Length: 439, dtype: bool

Dropping all excess columns that were empty and replacing 'NaN' cells with empty strings ''

In [8]:
df.columns.str.match('Unnamed')
df2 = df.loc[:,~df.columns.str.match('Unnamed')]
df2.fillna('',inplace=True)
df2

,No.,Name of M.P,District,Constituency,Political Party,Profession,Marital status,Phone number,Date of Birth,P.L.E School,...,Other Information,Professional Body Membership,Committee_1,Role on Committee 1,Committee_2,Role on Committee 2,Committee_3,Role on Committee 3,Committee_4,Role on Committee 4
0,1,Aadroa Alex Onzima,None,Ex-Officio,None,Administrator,Married,+256772411334/+256794336266,06-24-1952,"Oluvu Primary School, Arua",...,,,,,,,,,,
1,2,Ababiku Jesca,Adjumani,District Woman Representative,NRM,Teacher,Single,772315541,07/17/1975,Adjumani Girls Primary School,...,,,PUBLIC ACCOUNTS COMMITTEE,Member,COMMITTEE ON PRESIDENTIAL AFFAIRS,Member,,,,
2,3,ABACANON CHARLES ANGIRO GUTOMOI,Lira,ERUTE COUNTY NORTH,FDC,Farmer,Married,392944775,05-17-1949,East African Exams Council,...,,"Red Cross, Trade Technology, Cultural Group",Committee on Science and Technology,Member,,,,,,
3,4,ABALA DAVID,Ngora,Ngora County,NRM,Administrator,Married,"0772408242, 0702888820",10/3/75,,...,,,"COMMITTEE ON COMMISSIONS, STATE AUTHORITIES & ...",Member,COMMITTEE ON FOREIGN AFFAIRS,Member,COMMITTEE ON HUMAN RIGHTS,Member,,
4,5,ABBAS AGABA MUGISHA,Kamwenge,Kitagwenda County,NRM,Lawyer/Advocate,Married,772628660,10/13/1979,,...,,,"COMMITTEE ON RULES, PRIVILEGES AND DISCIPLINE",Vice Chairperson,COMMITTEE ON LEGAL AND PARLIAMENTARY AFFAIRS,Member,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,435,Wekomba Nambozo Sarah,Bulambuli,District Woman Representative,INDEPENDENT,Administrator,Single,772441445,07/15/1978,,...,,,LOCAL GOVERNMENT ACCOUNTS,Member,COMMITTEE ON GENDER LABOUR AND SOCIAL DEVELOPMENT,Member,,,,
435,436,Werikhe Kafabusa Michael,Mbale,Bungokho County South,NRM,NIL,Married,782797688,08/25/1955,,...,,"Uganda Institute Of Physical Planners, Uganda ...",,,,,,,,
436,437,Woboya Vicent,Sironko,Budadiri County East,NRM,Administrator,Married,772347518,7/1/70,Bumasaga Primary School,...,,Resistance africa network,"COMMITTEE ON COMMISSIONS, STATE AUTHORITIES & ...",Member,COMMITTEE ON PRESIDENTIAL AFFAIRS,Member,,,,
437,438,Yaguma Wilberforce,Mbarara,Kashari North County,NRM,Politician,Married,772931800,07/17/1972,,...,,,COMMITTEE ON EQUAL OPPORTUNITIES,Member,COMMITTEE ON NATURAL RESOURCES,Member,,,,
438,439,Zaake Francis,Mityana,Mityana Municipality,INDEPENDENT,Business Man,Single,772735879,12/1/91,"Fairway Primary School, Mityana",...,,,COMMITTEE OF DEFENSE AND INTERNAL AFFAIRS,Member,,,,,,

Cleaning dates and converting to proper date time format

In [9]:
# df2[['Date of Birth','P.L.E Year','U.C.E Year','U.A.C.E Year','Year of first Degree','Year of second degree','Year of Third Degree']]
# df2.loc[df2['Date of Birth'] == '07/071983']
# df2.loc[df2['Date of Birth'] == '09/0/1971']
df2['Date of Birth'] = df2['Date of Birth'].replace(['07/071983'],'07/07/1983')
df2['Date of Birth'] = df2['Date of Birth'].replace(['09/0/1971'],'09/01/1971')
# replace those dates with a proper date to avoid errors
df2['Date of Birth'] = pd.to_datetime(df2['Date of Birth'])
df2[['Date of Birth','P.L.E Year','U.C.E Year','U.A.C.E Year','Year of first Degree','Year of second degree','Year of Third Degree']].head(10)

,Date of Birth,P.L.E Year,U.C.E Year,U.A.C.E Year,Year of first Degree,Year of second degree,Year of Third Degree
0,1952-06-24,1969,,,2005,,
1,1975-07-17,1990,1994,1997,2006,2013,
2,1949-05-17,1966,1972,1974,,,
3,1975-10-03,,,,2000,2008,
4,1979-10-13,,1997,1999,2004,2009,2011
5,1975-05-24,,,1995,2002,2006,2013
6,2056-06-05,,,,,,
7,1964-08-25,1979,1983,1989,,,
8,2068-11-05,1980,1984,1987,1993,2003,2006
9,1983-07-07,1996,2001,,,,